* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.neither{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div {
    width: 350px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    margin: 20px;
}

.title {
    font-weight: 550;
    font-size: 14px;
    text-align: left;
    margin-left: 8px;
    color: rgb(0, 73, 190);
    cursor: pointer;
}

.description {
    font-size: 14px;
    text-align: left;
    margin-left: 14px;
    margin-bottom: 10px;
}

.title_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 6px 12px;
}

.logo_img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.bottom_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 40px;
    margin: 0px 12px;
}

.bottom_div button{
    cursor: pointer;
    width: 106px;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .2s ease-out;
    border: none;
    background-color: white;
    transition: all .5s ease-out;
}

.bottom_div button:hover {
    background-color: rgb(231, 231, 231);
}

.img_library{
    border-top: 1px solid rgb(226, 226, 226);
    margin-bottom: 10px;
}

.comment_div {
    margin: 10px 0px;
    padding-left: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment_div input {
    width: 278px;
    height: 37px;
    border-radius: 100px;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(235, 235, 235);
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 15px;
}

.comment_div input:focus {
    outline: none;
}

.liked {
    color: rgb(8, 102, 255);

}